{% extends "base.html" %}


{% block title %}
    Список тестов
{% endblock %}


{% block content %}

    <div style="text-align:center">
        {% for test in tests %}
            <a href="{% url 'survey_service:detail_test' pk=test.pk %}"><p>{{ test }}</p></a>
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        <div class="pagination justify-content-center">
            <a class="page-link" href="?page=1">первая страница</a>
            {% for p in paginator.page_range %}
                {% if p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <a class="page-link" href="?page={{p}}">{{p}}</a>
                {% endif %}
            {% endfor %}
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">последняя страница</a>
        </div>
    {% endif %}

{% endblock %}