{% extends "base.html" %}


{% block title %}
    {{ test.name }}
{% endblock %}


{% block content %}
    <div style="text-align:center">
        <h1>{{ survey.title }}</h1>
        <p>{{ survey.description }}</p>
    </div>
    <div style="text-align:center">
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Отправить">
        </form>
    </div>

<!--    <div style="text-align:center">-->
<!--        <form action="#" method="POST">-->
<!--            {% csrf_token %}-->
<!--            {% for question in test.question_set.all %}-->
<!--                <label>{{ question.text }}</label><br>-->
<!--                {% for answer in question.answer_set.all %}-->
<!--                    {{ answer }} <input type="radio" value="answer.text" name="answer.id"><br>-->
<!--                {% endfor %}<br>-->
<!--            {% endfor %}-->
<!--            <input type="submit" value="Отправить">-->
<!--        </form>-->
<!--    </div>-->
{% endblock %}
