{% extends "base.html" %}


{% block title %}
    Главная страница
{% endblock %}


{% block content %}
        <div>
        <h1>Создать сервис прохождения опросов пользователями на Django.</h1>

            <p>Обязательная часть:</p>
                1. Можно зарегистрироваться и логинится. Наверху показано под каким логином ты зашел.<br>
                2. Тесты и ответы на них создаются динамически через админку.<br>
                3. Список тестов выводится в виде содержания произвольного вида (столбец, таблица, как удобно)<br>

        <br><p>Фронт делается с помощью шаблонизатора Django, СУБД произвольная</p>

        Опция 1.<br>

            1. За прохождение тестов начисляется какое-то количества валюты.<br>
            2. Валюту можно потратить на перекрашивание рамки логина или бэкграунда на странице профиля.<br>
            3. Показывать список пользователей и количество пройденных тестов на отдельной странице, там же показывать цветовую дифференциацию пользователей.<br>

        <br>Опция 2.<br>

            1. Сделать фронт на реакте, в виде SPA или отдельных модулей.


                    Выкатить на github, деплой не обязательно, проверим под режимом разработчика.
    </div>
{% endblock %}
