{% extends "base.html" %}


{% block title %}
    {{ user.username }}
{% endblock %}


{% block content %}
<h1 style="text-align:center">Привет {{ user.username }}!</h1><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Тесты которые вы прошли:</h3>
                {% for survey in passed_surveys %}
                    <p>{{ survey }}</p>
                {% endfor %}
            </div>
            <div class="col">
                <h3>Количество баллов:</h3>
                <p>{{ user.currency }}</p>
            </div>
            <div class="col">
                <h3>Ваш цвет:</h3>
                <p>{{ color }}</p>
            </div>
        </div>
    </div>
{% endblock %}